{% extends 'base.html' %}

{% block content %}
    <h2>ایجاد حساب کاربری</h2>
    <form method="POST">
        <div class="form-group">
            <label>نام کاربری:</label>
            <input type="text" name="username" required placeholder="مثال: ali_80">
        </div>
        <div class="form-group">
            <label>رمز عبور:</label>
            <input type="password" name="password" required placeholder="**">
        </div>
        <button type="submit">ثبت نام</button>
    </form>
    <div class="nav-links">
        قبلاً ثبت نام کرده‌اید؟ <a href="{{ url_for('login') }}">ورود</a>
    </div>
{% endblock %}