{% extends 'base.html' %}
{% block content %}
    <h2>ارسال پیام ناشناس</h2>
    <p style="text-align: center; margin-bottom: 15px;">
        شما در حال ارسال پیام ناشناس به <strong>{{ recipient_name }}</strong> هستید.
    </p>
    <form method="POST">
        <div class="form-group">
            <textarea name="content" required placeholder="هر حرفی تو دلت داری به صورت کاملاً ناشناس بنویس..."></textarea>
        </div>
        <button type="submit">ارسال پیام</button>
    </form>
{% endblock %}
